.button {
  font: {
    weight: 500;
    size: 16px;
  }
  background-color: var(--button);
  color: var(--text-secondary);
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 15px 40px 15px;
  cursor: pointer;
  transition: 1s;
  border: none {
    radius: 8px;
  }

  &:hover {
    background-color: var(--button-hover);
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &.active {
    background-color: var(--tab-active);
  }
}

.counter {
  font: {
    size: 24px;
    weight: 400;
  }
  padding: 10px 17px;
  border-radius: 4px;
}
