:root {
  --white: #fff;
  --black: #212429;
  --blue-1: #0184ff;
  --blue-2: #0068d6;
  --blue-3: #0051ad;
  --yellow-1: #ffcd3d;
  --yellow-2: #ffc314;
  --yellow-3: #d69f00;
  --grey-1: #dde2e5;
  --grey-2: #acb5bd;
}
