:root {
  --white: #fff;
  --black: #212429;
  --blue-1: #0184ff;
  --blue-2: #0068d6;
  --blue-3: #0051ad;
  --grey-1: #dde2e5;
  --grey-2: #acb5bd;

  --button: var(--blue-1);
  --button-hover: var(--blue-2);

  --tab-active: var(--blue-3);

  --bg-main: var(--white);

  --text-primary: var(--black);
  --text-secondary: var(--white);
  --text-alternate: var(--grey-2);

  --border-primary: var(--grey-1);
}
