[data-theme="dark"] {
  --button: var(--yellow-1);
  --button-hover: var(--yellow-2);

  --tab-active: var(--yellow-3);

  --bg-main: var(--white);
  --bg-modal: var(--grey-1);

  --text-primary: var(--black);
  --text-secondary: var(--white);
  --text-alternate: var(--grey-2);

  --border-primary: var(--grey-1);
  --border-form: var(--yellow-3);
}
