[data-theme="default"] {
  --button: var(--blue-1);
  --button-hover: var(--blue-2);

  --tab-active: var(--blue-3);

  --bg-main: var(--white);
  --bg-modal: var(--grey-1);

  --text-primary: var(--black);
  --text-secondary: var(--white);
  --text-alternate: var(--grey-2);

  --border-primary: var(--grey-1);
  --border-form: var(--blue-3);
}
